force-app/main/default/flows/SelfAssessAssign_SCH_CreateAssessments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Self_Assessment_to_Insert_List</name>
        <label>Add Self-Assessment to Insert List</label>
        <locationX>270</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>selfAssessment.Service_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Session__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Service_Participants.pmdm__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Self_Assessment_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Self_Assessment_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Service_Participants.pmdm__ProgramEngagement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Self_Assessment_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSelfAssessmentsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selfAssessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Service_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Status_to_Not_Sent</name>
        <label>Set Email Status to Not Sent</label>
        <locationX>402</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>selfAssessment.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Self_Assessment_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Status_to_Send_Now</name>
        <label>Set Email Status to Send Now</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>selfAssessment.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Now</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Self_Assessment_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Email_Alert</name>
        <label>Check for Email Alert</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Set_Email_Status_to_Not_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Status_to_Send_Now</targetReference>
            </connector>
            <label>Is Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Service_Participants</name>
        <label>Check Get Service Participants</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Service Participants Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Service_Participants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Participants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Service_Participants</targetReference>
            </connector>
            <label>Got Service Participants</label>
        </rules>
    </decisions>
    <description>Scheduled flow. Handles creation of self-assessments for self-assessment assignments configured to send pre or post-session.</description>
    <environments>Default</environments>
    <interviewLabel>SelfAssessAssign SCH CreateAssessments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SelfAssessAssign SCH CreateAssessments</label>
    <loops>
        <name>Loop_through_Service_Participants</name>
        <label>Loop through Service Participants</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Service_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Email_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Self_Assessments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Self_Assessments</name>
        <label>Insert Self-Assessments</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <inputReference>lstSelfAssessmentsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Participants</name>
        <label>Get Service Participants</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Service_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__ServiceSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Session__r.pmdm__ServiceSchedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pmdm__ServiceParticipant__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Send_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Self_Assessment_Assignment__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-02-28</startDate>
            <startTime>18:02:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstSelfAssessmentsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment__c</objectType>
    </variables>
    <variables>
        <name>selfAssessment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment__c</objectType>
    </variables>
</Flow>
