force-app/main/default/flows/SelfAssessT_SFRP_CloneWithQuestions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_Template_Record</name>
        <label>Go to Template Record</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <actionName>FlowToolKit:NavigateToRecordPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Self_Assessment_Template__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowToolKit:NavigateToRecordPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Clone_Question</name>
        <label>Clone Question</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>newQuestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Questions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuestion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuestion.Self_Assessment_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTemplate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuestionsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Template</name>
        <label>Clone Template</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>newTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTemplate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Template_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rich_Text_Input</name>
        <label>Set Rich Text Input</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>newTemplate.Intro_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_IntroMessage_RichText.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTemplate.Thank_You_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ThankYouMessage_RichText.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Questions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Selected_Questions</name>
        <label>Check for Selected Questions</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Go_to_Template_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selections Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Selections</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Questions_Datatable.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Selected_Questions</targetReference>
            </connector>
            <label>Got Selections</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Questions</name>
        <label>Check Get Questions</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Insert_New_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Questions Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Questions_Screen</targetReference>
            </connector>
            <label>Got Questions</label>
        </rules>
    </decisions>
    <description>Screen flow, record page. Clone child self-assessment question records along with the self-assessment template.</description>
    <environments>Default</environments>
    <interviewLabel>SelfAssessT SFRP CloneWithQuestions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SelfAssessT SFRP CloneWithQuestions</label>
    <loops>
        <name>Loop_through_Selected_Questions</name>
        <label>Loop through Selected Questions</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <collectionReference>Questions_Datatable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_New_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_Questions</name>
        <label>Insert New Questions</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Go_to_Template_Record</targetReference>
        </connector>
        <inputReference>lstQuestionsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_Template</name>
        <label>Insert New Template</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Check_for_Selected_Questions</targetReference>
        </connector>
        <inputReference>newTemplate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Self_Assessment_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Self_Assessment_Question__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Questions_Screen</name>
        <label>Clone Questions Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_New_Template</targetReference>
        </connector>
        <fields>
            <name>Questions_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Self_Assessment_Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Clone Questions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Questions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Questions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Question__c&quot;,&quot;guid&quot;:&quot;column-1c19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Question&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-916a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Sort_Order__c&quot;,&quot;guid&quot;:&quot;column-39cb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Sort Order&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Required__c&quot;,&quot;guid&quot;:&quot;column-7377&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Required&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Template_Details_Screen</name>
        <label>Edit Template Details Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Rich_Text_Input</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>newTemplate.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>newTemplate.Description__c</objectFieldReference>
        </fields>
        <fields>
            <name>Input_IntroMessage_RichText</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>newTemplate.Intro_Message__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Input_ThankYouMessage_RichText</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>newTemplate.Thank_You_Message__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstQuestionsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment_Question__c</objectType>
    </variables>
    <variables>
        <name>newQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment_Question__c</objectType>
    </variables>
    <variables>
        <name>newTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment_Template__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment_Template__c</objectType>
    </variables>
</Flow>
