force-app/main/default/flows/SelfAssess_AI_AutoCreateAnswers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Answer_to_List</name>
        <label>Add Answer to List</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>answer.Self_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answer.Self_Assessment_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Questions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answer.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Questions.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answer.Question_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Questions.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answer.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Questions.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAnswersToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>answer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Questions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Template_Questions</name>
        <label>Check Get Template Questions</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Template Questions Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Template_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Template_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Questions</targetReference>
            </connector>
            <label>Got Template Questions</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert. When a new self-assessment is inserted, create answers for each question associated with the assessment&apos;s template.</description>
    <environments>Default</environments>
    <interviewLabel>SelfAssess AI AutoCreateAnswers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SelfAssess AI AutoCreateAnswers</label>
    <loops>
        <name>Loop_through_Questions</name>
        <label>Loop through Questions</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Template_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Answer_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Answers</name>
        <label>Insert Answers</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>lstAnswersToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all questions related to the assigned template</description>
        <name>Get_Template_Questions</name>
        <label>Get Template Questions</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Template_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Self_Assessment_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Self_Assessment_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Self_Assessment_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Template_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Auto_Create_Answers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Self_Assessment_Template__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Self_Assessment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>answer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment_Answer__c</objectType>
    </variables>
    <variables>
        <name>lstAnswersToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment_Answer__c</objectType>
    </variables>
</Flow>
