force-app/main/default/flows/ServiceDelivery_AIAU_CreateAssessments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Assessment_to_Insert_List</name>
        <label>Add Assessment to Insert List</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>selfAssessment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pmdm__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Service_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pmdm__ServiceSession__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pmdm__ProgramEngagement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Self_Assessment_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assignments.Self_Assessment_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Self_Assessment_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assignments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selfAssessment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAssessmentsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selfAssessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Status_to_Not_Sent</name>
        <label>Set Email Status to Not Sent</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>selfAssessment.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assessment_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Send_Email_Flag</name>
        <label>Set Send Email Flag</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>selfAssessment.Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Now</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assessment_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Email_Alert</name>
        <label>Check for Email Alert</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Email_Status_to_Not_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Assignments.Send_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Send_Email_Flag</targetReference>
            </connector>
            <label>Is Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Assignments</name>
        <label>Check Get Assignments</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Assignments Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Assignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Assignments</targetReference>
            </connector>
            <label>Got Assignments</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert and after update. When a service delivery&apos;s Attendance Status is set to &apos;Present&apos;, check for related self-assessment assignments with a Type of &apos;On Delivery&apos; and call the CreateAssessments flow utility.</description>
    <environments>Default</environments>
    <interviewLabel>ServiceDelivery AIAU CreateAssessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceDelivery AIAU CreateAssessments</label>
    <loops>
        <name>Loop_through_Assignments</name>
        <label>Loop through Assignments</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Email_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Self_Assessments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Self_Assessments</name>
        <label>Insert Self-Assessments</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputReference>lstAssessmentsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignments</name>
        <label>Get Assignments</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Session__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pmdm__ServiceSession__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Delivery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Self_Assessment_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignments</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__AttendanceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Present</stringValue>
            </value>
        </filters>
        <object>pmdm__ServiceDelivery__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstAssessmentsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment__c</objectType>
    </variables>
    <variables>
        <name>selfAssessment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Self_Assessment__c</objectType>
    </variables>
</Flow>
